* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.App {
  width: 700px;
  height: 450px;
  color: white;
  border-radius: 27px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: royalblue;
}
